*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #091921;
    min-height: 100vh;
}

.calculator{
    position: relative;
    display: grid;
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    border: none;
    text-align: right;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 20px;
}

.calculator span{
    display: grid;
    height: 80px;
    width: 80px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 0.1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.calculator span:hover{
    color: #111;
    background: chartreuse;
}

.calculator span:active{
    background: crimson;
}

.calculator span.plus{
    grid-row: span 2;
    height: 160px;
}

.calculator span.equal{
    grid-row: span 2;
    height: 160px;
}



